extends layout_user

block breadcrumb

block content  
  if !production
    .container
      .row
        .span8.offset2
          pre(style='max-height: 150px; height: auto; overflow-y: auto;') #{error.message}
    
  .player-disabled
    p
      img.mascotte(src='/img/captivity-sad.png')
      br
      | Errore #{error.response.code}
      br
      

