doctype 5
html
  head
    title E-learning :: Login
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/main.css')
    meta(http-equiv='content-type', content='text/html; charset=iso-8859-1')
    link(rel='shortcut icon', href='/img/favicon.ico')
        
  body.user
    if message.length
      .notify-alert.alert-block
        p #{message}
    
    if error.length
      .notify-alert.alert-block.alert-error
        p 
          strong Errore: 
          | #{error}

    .main
      .login-container
        form.form-horizontal(action='/login', method='post')
          

          
          fieldset
            legend.text-center 
              | Accesso E-learning
              br
              small Inserisci il nome utente e la password che ti sono stati assegnati.
            
            .spacer
            
            .control-group
              label.control-label Nome Utente
              .controls
                input(type='text', name='username', value='', minlength=6)
            .control-group
              label.control-label Password
              .controls
                input(type='password', name='password', value='', minlength=6)
                
            .control-group
              .controls
                button.btn.btn-large.btn-primary(type='submit')
                  i.icon-chevron-right.icon-white
                  | Login
    
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.0/jquery.min.js')
    script(src='/js/vendor/bootstrap.js')
    script(type='text/javascript')
      $(function () {
        $('.notify-alert').delay(5000).fadeOut();
      });
    