html
  body
    
    script(type='text/javascript')
      window.CAPTIVITY_LMS = true;
    
    .iframe-container(style='width: 800px; height: 600px; min-height: 600px; margin: auto;')
      iframe(src='#{scorm.scorm + '/' + scorm.scorm_index}', style='width: 100%; height: 100%;')
