@import ('nib')
@import url('http://fonts.googleapis.com/css?family=Raleway:600')

_accent = #28b5e5
_light = #F2F2F2
_dark = #181818

.raleway
  font-family 'Raleway', sans-serif
  font-weight 600
  letter-spacing 1px

html,
body
  background url('../img/sidebar-background.png') left top repeat-y _light
  height 100%
  width 100%

  &>.main
    margin-left 120px
    &>.container
      margin-left 0

      h1, h2, h3, h4, h5, h6
        @extends .raleway
      legend
        @extends .raleway
        letter-spacing 0px
        color #999


  &>.sidebar
    position absolute
    left 0
    height 100%
    width 100px
    background _dark

    .logo
      display block
      text-align center
      margin 20px auto
      width 50px
      height 50px
      img
        width 50px
        height 50px

    ul
      border-top 3px solid darken(_dark, 50%)
      list-style none
      margin 0
      padding 0
      padding-top 20px
      li
        display block
        a
          @extends .raleway
          display block
          padding 10px 20px
          text-align right
          text-transform lowercase
          font-size 13px
          color _light
          transition all 0.2s ease
          text-decoration none
          &:hover,
          &:active,
          &.active
            text-decoration none
            color _accent
            outline none
          &:visited,
          &:link
            outline none
          &:active,
          &.active
            background darken(_dark, 50%)
        &.last
          margin-top 20px
          padding-top 20px
          border-top 3px solid darken(_dark, 50%)
          a
            opacity 0.7

.spacer
  height 10px

hr
  border none
  height 3px
  background #E2E2E2

.main

  a:not(.btn)
    color darken(#999, 30%)
    text-decoration none
    border-bottom 1px solid rgba(#000, 0.1)
    transition all 0.2s ease
    &:hover
      color _accent
      border-bottom-color rgba(_accent, 0.5)
      
  .btn
    background-image none
    box-shadow none
    text-shadow none
    border none

    @extends .raleway
    letter-spacing 0px
    font-size 13px

    transition all 0.2s ease

    &>i
      margin-right 3px

    &.btn-large
      font-size 14px
      i
        margin-top 0

    _btncolor = #999
    color #FFF
    background _btncolor
    border 2px solid _btncolor
    &:hover
      background lighten(_btncolor, 15%)
      box-shadow 0 0 3px #FFF
      color #FFF

    &.btn-primary
      _btncolor = #006dcc
      background _btncolor
      border 2px solid _btncolor
      &:hover
        background lighten(_btncolor, 15%)
    &.btn-danger
      _btncolor = #da4f49
      background _btncolor
      border 2px solid _btncolor
      &:hover
        background lighten(_btncolor, 15%)
    &.btn-info
      _btncolor = #28b5e5
      background _btncolor
      border 2px solid _btncolor
      &:hover
        background lighten(_btncolor, 15%)
    &.btn-success
      _btncolor = #5bb75b
      background _btncolor
      border 2px solid _btncolor
      &:hover
        background lighten(_btncolor, 15%)

  .label
    background none
    border none
    box-shadow none
    text-shadow none
    font-weight 600
    color _accent

    &.label-important
      color #da4f49

  .alert
    border-width 2px

  table.table
    tr
      th
        font-size 13px
      td
        border none
        border-top 2px solid #E2E2E2
        padding-top 11px
        padding-bottom 9px
        .image-icon
          width 22px
          height 22px
      td.actions
        text-align right
        padding-top 8px
        padding-bottom 8px
      &:last-child
        td
          border-bottom 2px solid #E2E2E2

  form
    fieldset
      padding-bottom 10px
      .control-group
        margin-bottom 20px

    label
      font-weight bold
      color #666

    .cke
      border 1px solid #cccccc
      box-shadow inset 0 1px 1px rgba(0, 0, 0, 0.075)
      border-radius 3px
      .cke_inner 
        border-radius 3px
      .cke_top 
        border-radius top 3px
      iframe
        border-radius bottom 3px