@import url("http://fonts.googleapis.com/css?family=Raleway:600,300");
.raleway,
body>.main>.container h1,
body>.main>.container h2,
body>.main>.container h3,
body>.main>.container h4,
body>.main>.container h5,
body>.main>.container h6,
body>.main>.container legend,
body>.sidebar ul li a,
.main .btn,
body.user .player-disabled p {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  background: url("../img/sidebar-background.png") left top repeat-y #f2f2f2;
}
body>.main {
  margin-left: 120px;
}
body>.main>.container {
  margin-left: 0;
}
body>.main>.container legend {
  letter-spacing: 0px;
  color: #999;
}
body>.sidebar {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100px;
  background: #181818;
}
body>.sidebar .logo {
  display: block;
  text-align: center;
  margin: 20px auto;
  width: 50px;
  height: 50px;
}
body>.sidebar .logo img {
  width: 50px;
  height: 50px;
}
body>.sidebar p.what-user {
  padding: 20px;
  color: #999;
  font-size: 10px;
  text-align: right;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
body>.sidebar ul {
  border-top: 3px solid #0c0c0c;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 20px;
}
body>.sidebar ul li {
  display: block;
}
body>.sidebar ul li a {
  display: block;
  padding: 10px 20px;
  text-align: right;
  text-transform: lowercase;
  font-size: 13px;
  color: #f2f2f2;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  text-decoration: none;
}
body>.sidebar ul li a:hover,
body>.sidebar ul li a:active,
body>.sidebar ul li a.active {
  text-decoration: none;
  color: #28b5e5;
  outline: none;
}
body>.sidebar ul li a:visited,
body>.sidebar ul li a:link {
  outline: none;
}
body>.sidebar ul li a:active,
body>.sidebar ul li a.active {
  background: #0c0c0c;
}
body>.sidebar ul li.last {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 3px solid #0c0c0c;
}
body>.sidebar ul li.last a {
  opacity: 0.7;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
}
.spacer {
  display: block;
  height: 10px;
}
hr {
  border: none;
  height: 3px;
  background: #e2e2e2;
}
.main a:not(.btn) {
  color: #6b6b6b;
  text-decoration: none;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.main a:not(.btn):hover {
  color: #28b5e5;
  border-bottom-color: rgba(40,181,229,0.5);
}
.main .btn {
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  border: none;
  letter-spacing: 0px;
  font-size: 13px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: #fff;
  background: #999;
  border: 2px solid #999;
}
.main .btn>i {
  margin-right: 3px;
}
.main .btn.btn-large {
  font-size: 14px;
}
.main .btn.btn-large i {
  margin-top: 0;
}
.main .btn i.no-label {
  margin-right: 0;
  margin-top: 1px;
}
.main .btn:hover {
  background: #a8a8a8;
  -webkit-box-shadow: 0 0 3px #fff;
  box-shadow: 0 0 3px #fff;
  color: #fff;
}
.main .btn.btn-primary {
  background: #006dcc;
  border: 2px solid #006dcc;
}
.main .btn.btn-primary:hover {
  background: #0086fa;
}
.main .btn.btn-danger {
  background: #da4f49;
  border: 2px solid #da4f49;
}
.main .btn.btn-danger:hover {
  background: #e06964;
}
.main .btn.btn-info {
  background: #28b5e5;
  border: 2px solid #28b5e5;
}
.main .btn.btn-info:hover {
  background: #48c0e9;
}
.main .btn.btn-success {
  background: #5bb75b;
  border: 2px solid #5bb75b;
}
.main .btn.btn-success:hover {
  background: #74c274;
}
.main .label {
  background: none;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  font-weight: 600;
  color: #28b5e5;
}
.main .label.label-important {
  color: #da4f49;
}
.main .label.label-warning {
  color: #f89406;
}
.main .alert {
  border-width: 2px;
}
.main .table-head {
  color: #999;
}
.main .table-head b {
  color: #666;
}
.main table.table tr th.text-center,
.main table.table tr td.text-center {
  text-align: center;
}
.main table.table tr th {
  font-size: 13px;
}
.main table.table tr td {
  border: none;
  border-top: 2px solid #e2e2e2;
  padding-top: 11px;
  padding-bottom: 9px;
}
.main table.table tr td .image-icon {
  width: 22px;
  height: 22px;
}
.main table.table tr td.actions {
  text-align: right;
  padding-top: 8px;
  padding-bottom: 8px;
}
.main table.table tr:last-child td {
  border-bottom: 2px solid #e2e2e2;
}
.main table.table tr.error td {
  color: #da4f49;
  border-color: #f4cac8;
}
.main table.table tr.success td {
  border-color: #bde2bd;
}
.main .my-courses {
  margin: 0;
  list-style: none;
}
.main .my-courses .single-course {
  padding: 15px 0;
  border-top: 2px solid #e2e2e2;
}
.main .my-courses .single-course img {
  background: url("../img/captivity-placeholder.png") center center no-repeat;
  width: 80px;
  height: 80px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
}
.main .my-courses .single-course-info {
  height: 80px;
  display: table;
  width: 100%;
}
.main .my-courses .single-course-info>div {
  display: table-cell;
  vertical-align: middle;
  font-size: 17px;
}
.main .my-courses .single-course-info em {
  color: #999;
  font-size: 12px;
}
.main .my-courses .description {
  margin-top: 10px;
}
.main .my-courses .description p {
  margin-bottom: 0;
}
.main .my-profile {
  padding-top: 7px;
  border-top: 2px solid #e2e2e2;
}
.main .my-profile p {
  font-size: 13px;
  line-height: 18px;
}
.main .my-profile p.large {
  padding-top: 2px;
  font-size: 14px;
  line-height: 20px;
}
.main .my-profile small {
  color: #999;
}
.main .my-profile hr {
  height: 2px;
  margin: 5px 0 15px;
}
.main h4 {
  font-weight: normal;
  letter-spacing: 1px;
}
.main .bootstrap-select .btn-dropdown {
  background-color: #fff;
  border-color: #fff;
  -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.5);
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
  color: #333;
  outline: none;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: normal;
}
.main .bootstrap-select .btn-dropdown span.caret {
  opacity: 0.3;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
}
.main .bootstrap-select .btn-dropdown:hover {
  background: #fff;
}
.main .bootstrap-select .btn-dropdown span.filter-option {
  width: 175px;
  text-align: left;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main .bootstrap-select.open .btn {
  background: #fff;
  -webkit-box-shadow: 0 0 5px rgba(40,181,229,0.7);
  box-shadow: 0 0 5px rgba(40,181,229,0.7);
  outline: none;
}
.main .bootstrap-select.open .btn:hover {
  background: #fff;
}
.main .bootstrap-select ul.dropdown-menu {
  border: none;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  margin-top: 5px;
  max-width: 400px;
}
.main .bootstrap-select ul.dropdown-menu li .text {
  display: block;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main .bootstrap-select ul.dropdown-menu li a {
  color: #333;
  cursor: pointer;
  padding-left: 10px;
}
.main .bootstrap-select ul.dropdown-menu li:hover a,
.main .bootstrap-select ul.dropdown-menu li:active a,
.main .bootstrap-select ul.dropdown-menu li:focus a,
.main .bootstrap-select ul.dropdown-menu li:link a {
  background: #28b5e5;
  color: #fff;
}
.main .bootstrap-select ul.dropdown-menu li:active a {
  background: #48c0e9;
}
.main .bootstrap-select ul.dropdown-menu li:last-child a {
  border: none;
}
.main form fieldset {
  padding-bottom: 10px;
}
.main form fieldset .control-group {
  margin-bottom: 20px;
}
.main form label {
  font-weight: bold;
  color: #666;
}
.main form .cke {
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.main form .cke .cke_inner {
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.main form .cke .cke_top {
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
}
.main form .cke iframe {
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.main form .search-query {
  padding-left: 12px;
  padding-right: 12px;
}
body.user {
  padding-top: 75px;
  background: url("../img/captivity-pattern-big.png") center center no-repeat #f2f2f2;
  height: auto;
}
body.user>.main {
  margin-left: 0;
}
body.user>.main>.container {
  margin: auto;
}
body.user .navbar .navbar-inner {
  background: #fff;
  border: none;
  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  padding: 5px 0;
}
body.user .navbar .navbar-inner a.logo {
  margin-left: 10px;
}
body.user .navbar .navbar-inner a.logo img {
  height: 40px;
  width: 40px;
}
body.user .navbar .navbar-inner ul.nav li a {
  font-weight: normal;
  text-shadow: 0 0 5px #fff;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
body.user .navbar .navbar-inner ul.nav li a i {
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
body.user .navbar .navbar-inner ul.nav li:hover a i {
  opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
}
body.user .navbar .navbar-inner ul.nav li.spacer {
  line-height: 40px;
  color: #999;
}
body.user .player-disabled {
  height: 170px;
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -85px;
  margin-left: -150px;
}
body.user .player-disabled p {
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0;
}
body.user .player-disabled .mascotte {
  width: 70px;
  height: 70px;
  margin: auto;
  margin-bottom: 10px;
}
body.user .player-container {
  width: 800px;
  height: 600px;
  margin: auto;
}
body.user .player-container iframe {
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2);
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
body.user .login-container {
  height: 350px;
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -175px;
  margin-left: -250px;
}
body.user .login-container .control-label {
  font-weight: normal;
  color: #333;
  text-shadow: 0 0 10px #fff;
}
body.user .login-container .alert {
  text-align: center;
  margin-bottom: 30px;
}
